@import "tailwindcss";

:root {
  --bg: #0f0f1a;
  --card: rgba(255, 255, 255, 0.05);
  --border: rgba(255, 255, 255, 0.1);
  --text: #ffffff;
  --sub: #9ca3af;
  --dot: #1e1e2e;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.35);
  border-radius: 99px;
}
